body,
html,
* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.clock-section {
  height: 100vh;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
}

#countTime {
  width: 2rem;
  border: 0;
  outline: none;
  font-size: larger;
  color: #555;
  text-align: center;
}
.countTime {
  margin: 0.7rem auto;
}

/* 开始计时 */
#startCount {
  width: 8rem;
  height: 2rem;
  margin: 0.5rem auto;
  background-color: #3b6dbf;
  border-radius: 1rem;
  border: 0;
  color: white;
  font-weight: 500;
  font-size: 0.3rem;
}

#startCount:hover {
  background-color: #2c528f;
}

/* .button-blue {
  background-color: #3b6dbf;
}
.button-blue:hover {
  background-color: #2c528f;
}
.button-red {

} */
